#app-timer .gauge-container {
    height: 30px;
    border: 1px black solid;
    background-color: #fff;
}
#app-timer .gauge-bar {
    height: 30px;
    border: 0;
    background-color: #0af;
    width: 200px;
}