
#app-cells .scrollcontainer {
    width: 600px;
    height: 400px;
    overflow: scroll;
    background-color: #fff;
}
#app-cells table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 2160px;
}
#app-cells th, td {
    font-family: sans-serif;
    font-size: 12px;
    text-align: right;
    width: 80px;
    height: 20px;
    border: 1px #ccc solid;
    overflow: hidden;
    padding: 0;
}
#app-cells th {
    font-weight: bold;
    text-align: center;
    background-color: #eee;
    color: #999;
}
#app-cells th:first-child {
    width: 20px;
}
#app-cells td input {
    margin: 0;
    width: 80px;
    height: 20px;
    box-sizing: border-box;
    border: 0;
    background-color: rgb(179, 229, 255);
}